<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="prodId">Id</label>
            <input
              type="text"
              id="prodId"
              class="form-control"
              name="prodId"
              ngModel
              required>
          </div>
          <div class="col-sm-2 form-group">
            <label for="prodName">Name</label>
            <input
              type="text"
              id="prodName"
              class="form-control"
              name="prodName"
              ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="prodDescription">Description</label>
            <input
              type="text"
              id="prodDescription"
              class="form-control"
              name="prodDescription"
              ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="prodPrice">Price</label>
            <input
              type="number"
              id="prodPrice"
              class="form-control"
              name="prodPrice"
              ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="prodQuantity">Quantity</label>
            <input
              type="number"
              id="prodQuantity"
              class="form-control"
              name="prodQuantity"
              ngModel>
          </div>
          <div class="col-sm-2 form-group">
            <label for="prodLocation">Location</label>
            <input
              type="text"
              id="prodLocation"
              class="form-control"
              name="prodLocation"
              ngModel>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>