<div class="grid">
  <label>Filter by:</label>
  <!-- <input type="text" [(ngModel)]="filterBy" (ngModelChange)="filterByChangeFn($event)"/> -->
  <input type="text" [(ngModel)]="filterBy"/>
  <button class="btn btn-primary" (click)="onFilterByToggle()">{{isFilterByStartsWith ? 'Starts with' : 'Contains'}} string</button>
</div>
<p></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of filteredProducts">
            <td>{{prod.id}}</td>
            <td><a [routerLink]="['/products', prod.id]">{{prod.name}}</a></td>
            <td>{{prod.description}}</td>
            <td>{{prod.price | currency : 'ILS'}}</td>
            <!-- <td>{{prod.quantity | quantityPipe}}</td>
            <td>{{prod.location}}</td> -->
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="onAddProductToggle()">{{isAdding ? 'Hide' : 'Show'}} Add</button>
<div *ngIf='isAdding'>
  <p></p>
  <app-template-forms (addProductEvent)="addProductHandler($event)"></app-template-forms>
</div>